
.navbar{
    padding: 25px;
    border-radius: 0px 0px 55px 0px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #4b006e, #24003c);
    color: white;
}
.navbar-brand{
    font-weight: 900;
    font-size: 24px;
    color:aqua;
}
.navbar-brand:hover{
    color: white;
}
.nav-link{
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.nav-link:hover{
    color:aqua;
}